.color-nav {
    background-color: #6a6a83;
<<<<<<< HEAD

=======
}

button.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
>>>>>>> 90bf738267df2a3b415b7e017bfc281bd7bc4ef5
}